

/*CART PRODCTOS*/
.cardProducto {
    width: 20rem;
    margin: 8px;
    background-color: rgba(137, 43, 226, 0.425);

}

.cardProductos {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CARD ITEM*/
.cardBodyDark {
    background-color: rgba(137, 43, 226, 0.431);
    margin-bottom: 3px;
    text-align: center;
    color: black;
}

.cardBody {
    background-color: white;
    margin-bottom: 5px;
    text-align: center;
    
}
.card-title{
    color: red;
}

img {
    margin-top: 3px;
}

/*DARKMODE*/
.darkMode {
    background-color: black;
}

/*CARDWIDGET*/
.cartWidget {
    position: relative;
    right: -3%;
    color:white;
}
.nav-Link{
    margin: 10px;
    color: orange;
}

.cantCarrito {
    position: relative;
    left: 12%;
}

.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}
/*carrito compras*/
.cart{
    text-align: center;
    margin-top:50px;
    color: antiquewhite;
}

/*Mensaje bienvenida*/
.greeting{
    text-align: center;
    color: antiquewhite;
    font-size: 50px;
    margin: 50px
}



/*NAVBAR*/
.logo{
    width: 100px;
}

/*TITULO CARD DE MUESTRA*/
.cards{
    color:black;
}

/*ITEMDETAIL*/
.imgBody {
    display:block;
    margin:auto;
    max-height: 100%;
}
/*CART*/
.cartContainer {
    margin-top:3%;
    margin-left: 26.5%;
}

.divButtons button{
    margin:4px;
}

@media (max-width:991px) {
    .cartWidget {
        color:white;
        margin-bottom: 10px;
    }
}